div ,img,span,p,ul,li{margin: 0;padding: 0;}
.field{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.picture{
    width: 100%;
    height: 475px;
}
.picture img{
    width: 100%;
    height: 475px;
}
.field_left{
    width: 314px;
    overflow: hidden;
    position: absolute;
    top: 580px;
    left: 360px;
    text-align: center;
}
.field_left p{
    width: 100%;
    height: 161px;
    line-height: 161px;
    background:rgba(17,31,63,1);
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    opacity:0.84;
    font-size: 31px;
    color: #FFFFFF;
    font-weight: 5s00;
}
.field_left ul{
    width: 138px;
    overflow: hidden;
    float: left;
}
.field_left ul li{
    list-style: nonoe;
    width: 100%;
    height: 30px;
    text-align: left;
    margin: 20px 0;
    font-size: 16px;
    color: #111F3F;
}
.bot_style{
    border-bottom:1px solid rgba(54,65,92,1);
}
.main{
    width: 100%;
    height: 1080px;
}
.field_right{
    width: 1222px;
    height: 100%;
    float: right;
}
.header{
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    color: #656565;
    font-size: 16px;
}
.artic_main{
    width: 862px;
    overflow: hidden;
    float: left;
    border-top:1px solid rgba(223,223,223,1);
    margin-top: 17px;
    padding-top:30px ;
    cursor: pointer;
}
.fenye{
    width: 50%;
    margin-left: 50px;
    float: left;
}
.artic_detail_list{
    width: 192px;
    height: 163px;
    margin: 20px 50px;
    float: left;
    position: relative;
}
.artic_detail_list img {
    display: block;
    width: 100%;
    height: 112px;
    float: left;
  }  
.artic_detail_list label{
    display: block;
    width: 100%;
    float: left;
    font-weight:bold;
    cursor: pointer;
    text-align: center;
}

