div ,img,span,p,ul,li{margin: 0;padding: 0;}
ul li{
    list-style: none;
}
.field{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.picture{
    width: 100%;
    height: 475px;
}
.picture img{
    width: 100%;
    height: 475px;
}
.field_left{
    width: 314px;
    overflow: hidden;
    position: absolute;
    top: 580px;
    left: 360px;
    text-align: center;
}
.field_left p{
    width: 100%;
    height: 161px;
    line-height: 161px;
    background:rgba(17,31,63,1);
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    opacity:0.84;
    font-size: 31px;
    color: #FFFFFF;
    font-weight: 500;
}
.field_left ul{
    width: 138px;
    overflow: hidden;
    float: left;
}
.field_left ul li{
    list-style: none;
    width: 100%;
    height: 30px;
    text-align: left;
    margin: 20px 0;
    font-size: 16px;
    color: #111F3F;
}
.bot_style{
    border-bottom:1px solid rgba(54,65,92,1);
}
.main{
    width: 100%;
    height: 1080px;
}
.field_right{
    width: 1222px;
    height: 1080px;
    box-sizing: border-box;
    float: right;
}
.header{
    width: 100%;
    height: 46px;
    margin-top: 40px;
    color: #656565;
    font-size: 16px;
}
.seacher_msg{
  width: 194px;
  height: 25px;
  position: relative;
  top:0px;
  left: 600px;
}
 .sousou{
  width: 194px;
  height: 25px;
  border: none;
  outline: none;
  background:rgba(255,255,255,1);
  border:1px solid rgba(112,112,112,1);
  opacity:1;
  border-radius:13px;
  padding-left: 20px;
  font-size: 12px;
} 
.seach{
  width: 60px;
  height: 25px;
  position: absolute;
  top:0;
  right: 10px;
  font-size: 12px;
  line-height: 25px;
  text-align: right;
  background: url(../img/sousuo.png) no-repeat;
  background-position: 13px 6px;
}
.artic_main{
    width: 862px;
    overflow: hidden;
    float: left;
    border-top:1px solid rgba(223,223,223,1);
    margin-top: 17px;
    padding-top:30px ;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.artic_detail_list{
    margin-bottom: 10px;
}
.artic_detail_list label{
    display: block;
    width: 80%;
    float: left;
    font-size: 18px;
    margin-top: 30px;
    font-weight:bold;
    text-indent: 2em;
    cursor: pointer;
}
.artic_detail img{
    width: 100%;
    display: block;
}
.artic_detail_list img {
    display: block;
    width: 128px;
    height: 112px;
    float: left;
  }
.artic_detail_list span{
    color: #666666;
    font-size: 14px;
    display: inline-block;
    margin: 5px 0;
  } 
  .artic_detail_list span:nth-of-type(1){
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor: pointer;
    text-indent: 2em;
  } 
  .artic_detail_list span:nth-of-type(2){
    float: right;
    font-size: 14px;
    cursor: pointer;
  }
  .havenone{
      width:100%;
      font-size: 20px;
      text-align: center;
      margin: 20px 0;
  }
  

